* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, lightseagreen, rgb(32, 95, 178));
}

.carousel {
  width: 500px;
  height: 500px;
  position: relative;
  background: lightblue;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.prev-next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-next #prev,
.prev-next #next {
  background: lightcoral;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  transition: background 0.5s ease-in-out;
}

.prev-next #prev:hover,
.prev-next #next:hover {
  background: lightsalmon;
}

.dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots .dot {
  width: 20px;
  height: 20px;
  background: #acacac;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.dots .dot:hover {
  background: lightcoral;
}

.dot.dot-active {
  background: #222;
}

.active {
  opacity: 1;
}
